In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ahame\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: C:\Users\ahame\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=('row1','row2','row3','row4','row5'),columns=('col1','col2','col3','col4'))

In [8]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [9]:
df.head()

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [11]:
df.to_csv('test.csv')

In [12]:
##accesing the elements 
## i)loc
## ii)iloc

df.loc['row1']

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int64

In [13]:
type(df.loc['row1'])

pandas.core.series.Series

In [14]:
df.iloc[:,:]

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [17]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [18]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [20]:
df.isnull().sum() ## checking if null is availble

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [23]:
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [25]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16])

In [27]:
df[['col1','col2']] ## accessing the multiple cols at a time

      col1  col2
row1     0     1
row2     4     5
row3     8     9
row4    12    13
row5    16    17

In [ ]:
## accessing the one col or one row is series
## accessing the atleast one row and one col is dataframe